html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-font-smoothing:antialiased;}

body{ min-width: 1260px; position: relative; background-color: #fff;}

body,form,img,ul,ol,li,dl,dt,dd,p,tr,td,strong,span,pre{margin:0; padding:0; border:0; background-repeat:no-repeat;}
h1,h2,h3,h4,h5,h6,p{ margin:0; padding:0; font-weight:normal;}
h1 {font-size: 2em;margin: 0.67em 0;}
  
// 字体
body,
button,
input,
select,
textarea {
	font: 14px/1.5 Arial, 'PingFang SC','Microsoft JhengHei','Microsoft YaHei', sans-serif; // 适配 h1-h6 默认的字体行高；提高编辑器中字体还原度
	color: #333;
}

img{height:auto; border-style: none;vertical-align: middle;}
ul,li{ list-style:none;}
// em,i,b{ font-style:normal;} 编辑器不可用
a{ text-decoration:none; color:#333;}
a:hover{ background-repeat:no-repeat;}
a,area{blr:expression(this.onFocus=this.blur())}

input,button,select,textarea{outline:none; border:none;margin:0;padding:0; resize:none; background:none;}
table {border-collapse: collapse; border-spacing: 0;}
label { cursor:pointer;} 

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em;}

sup {top: -0.5em;}
  
// placeholder
placeholder{color: #999;}
::-moz-placeholder { color: #999;}
::-webkit-input-placeholder { color: #999;}

// 表单
button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
// 常用样式
.web{width:1180px;margin:0 auto;position:relative; z-index:1;}
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0; *display:none;}
.clearfix{*zoom:1;}
.clear{ clear:both; line-height:0; height:0; font-size:0;}
.fl{float:left;}
.fr{float:right;}
// 调试使用
.show{display:block!important;}
.hide{display:block!important;}
/* layout start*/