/*头部样式*/
$ac:#44a78d;
.header{
    box-shadow: 0px 2px 6px 0px 
		rgba(0, 0, 0, 0.16);
	border-bottom: solid 1px #e6e6e6;
}
.header-top {
    background: #3d3938;
    color: #fefefe;
    font-size: 12px;
    line-height: 30px;

    a {
        color: #fefefe;
        padding: 0 9px;
    }
}

.country {
    float: right;
}



.logo {
    display: block;
    float: left;
    width: 160px;
    padding-right: 94px-19px;

    img {
        height: 35px;
    }
}

.header-nav {
    padding: 13px 0;
}

.nav {
    float: left;

    li {
        float: left;
        padding: 0 19px;

        a {
            display: block;
            font-size: 16px;
            color: #3D3938;
            padding: 7px 0;
            
        }
        &.cur,&:hover{
            a{
                color:$ac;
            }
        }
    }
}

.search-box {
    float: right;
    position: relative;
    input {
        width: 213px;
        height: 35px;
        border: solid 1px #e6e6e6;
        padding-left:10px;
    }
    button {
        position: absolute;
        right: 0;
        top: 0;
        width: 55px;
        height: 35px;
        background-color: #44a78d;
        border-radius: 0px 3px 3px 0px;
        color: #fefefe;
        font-size: 16px;
    }
}