
/*头部样式*/
.header-top{
    background:#3d3938;
    color: #fefefe;
    font-size: 12px;
    line-height:30px;
    a{
        color: #fefefe;
        padding:0 9px;
    }
}

.country{
    float:right;
}



.logo{
    display: block;
    float: left;
    width:160px;
    img{
        height:35px;
    }
}
.header-nav{
    padding:13px 0;
}
.nav{
    float: left;
    ul{
       
        li{
            float: left;
            a{
                color:#3D3938;
            }
        }
    }
}