@import "./reset.scss";
// 常用样式
.commonweb {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *display: none;
}

.clearfix {
  *zoom: 1;
}

.clear {
  clear: both;
  line-height: 0;
  height: 0;
  font-size: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

// 调试使用
.show {
  display: block !important;
}

.hide {
  display: block !important;
}

/* layout start*/

/*头部样式*/
$ac:#44a78d;

.fs24 {
  font-size: 24px;
}

.fs20 {
  font-size: 20px;
}

.fs16 {
  font-size: 16px;
}

.fs14 {
  font-size: 14px;
}

.mb20 {
  margin-bottom: 20px;
}
.mb30{
  margin-bottom:30px;
}
.mb50{
  margin-bottom:50px;
}
.oh{
  overflow: hidden;
}

body {
  background: #f2f2f2;
}
.ellipsis {
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
  border-bottom: solid 1px #e6e6e6;
  background:#fff;
}

.header-top {
  background: #3d3938;
  color: #fefefe;
  font-size: 12px;
  line-height: 30px;

  a {
    color: #fefefe;
    padding: 0 9px;
  }
}

.country {
  float: right;
}



.logo {
  display: block;
  float: left;
  width: 160px;
  margin-right: 94px-19px;

  img {
    height: 35px;
  }
}

.header-nav {
  padding: 11px 0;
  background:#fff;
}

.nav {
  float: left;

  li {
    float: left;
    padding: 0 19px;

    a {
      display: block;
      font-size: 16px;
      color: #3D3938;
      padding: 7px 0;

    }

    &.cur,
    &:hover {
      a {
        color: $ac;
      }
    }
  }
}

.search-box {
  float: right;
  position: relative;

  input {
    width: 213px;
    height: 35px;
    border: solid 1px #e6e6e6;
    padding-left: 10px;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 35px;
    background-color: #44a78d;
    border-radius: 0px 3px 3px 0px;
    color: #fefefe;
    font-size: 16px;
  }
}

/*头部样式 end*/
/*底部样式*/
.footer {
  background: #929292;
  color: #ebebeb;
  padding-top: 50px;
  padding-bottom: 20px;

  a {
    color: #ebebeb;
  }
}

.footer-left {
  width: 360px;
  padding-right: 40px;

}

.fcompany-title {
  margin-top: 16px;
  margin-bottom: 10px;
}

.footer-middle {
  width: (1200px/3);
  text-align: center;

  .code-list {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 20px;

    img {
      width: 127px;
      height: 127px;
      display: block;
      margin-bottom: 10px;
    }
  }
}

.footer-right {
  font-size: 16px;
}

/*个人中心*/
.membermg {
  padding: 20px 0 50px;
  background: #F2F2F2;
}

.layui-box {
  text-align: center;
}

.layui-laypage {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin: 10px 0;
  font-size: 0;

  em {
    font-style: normal;
  }
}

.layui-laypage a,
.layui-laypage span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  border: 1px solid #e2e2e2;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  margin: 0 2px;
  background-color: #fff;
  color: #333;
  font-size: 12px;
  border-radius: 3px;
  position: relative;

}

.layui-laypage a {
  &:hover {
    background: #44a78d;
    color: #fff;
  }
}

.layui-laypage .layui-laypage-total {
  height: 30px;
  line-height: 30px;
  margin-left: 1px;
  border: none;
  font-weight: 400;
  background-color:transparent;
}

.layui-laypage input {
  width: 50px;
  margin: 0 5px;
  text-align: center;
}

.layui-laypage button,
.layui-laypage input {
  width: 40px;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  background-color: #eaeced;
  border-radius: 3px;
  color: #4e5a65;
  font-size: 12px;
}

.layui-laypage .layui-laypage-curr {

  background-color: #44a78d;
  color: #fff;
}

.layui-laypage-prev {
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-left: 1px solid #4e5a65;
    border-bottom: 1px solid #4e5a65;
    transform: rotate(45deg);
  }

  &:hover {
    &:before {
      border-color: #fff;
    }
  }
}

.layui-laypage-next {
  position: relative;

  &:after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-left: 1px solid #4e5a65;
    border-bottom: 1px solid #4e5a65;
    transform: rotate(-135deg);
  }

  &:hover {
    &:after {
      border-color: #fff;
    }
  }
}

.member-right {
  overflow: hidden;
  border-radius: 3px;
}

.common-slide {
  background: #fff;
  padding: 22px 20px;
  min-height: 500px;
}

.kicon {
  display: inline-block;
  vertical-align:middle;
  width: 16px;
  height: 16px;
  line-height: 16px;
  color: #fff;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  margin: 0 3px;
}

.iconannoyed {
  background-color: #f23a3b;
}

.icontop {
  background-color: #05544a;
}

.iconcompany {
  background-color: #4e5a65;
}

.iconorder {
  background-color: #ca3f81;
}

.medical-use {
  color: #f23a3b;
}

.civil-use {
  color: #44a78d;
}

.sucess-button {
  display: block;
  width: 100px;
  height: 36px;
  background-color: #4e5a65;
  border-radius: 3px;
  font-size: 12px;
  color: #fefefe;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
}



.m-pro-title {
  padding-left: 10px;

}

.m-num {
  font-size: 16px;
  color: #3d3938;
  font-weight: bold;
}

.m-price {
  font-size: 26px;
  font-weight: bold;
  color: #4E5A65;
}

.pt60 {
  padding-top: 60px;
}

/*注册登录公用*/
.m-input {
  width: 100%;
  height: 38px;
  background-color: #eaeced;
  border-radius: 3px;
  color: #4e5a65;
  padding-left: 10px;

  // 使用webkit内核的浏览器
  &::-webkit-input-placeholder {
    color: #4e5a65;
  }

  // Firefox版本4-18
  &:-moz-placeholder {
    color: #4e5a65;
  }

  // Firefox版本19+
  &::-moz-placeholder {
    color: #4e5a65;
  }

  // IE浏览器
  &:-ms-input-placeholder {
    color: #4e5a65;
  }
}

.bgcolor-white {
  background: #fff;
}

/*公共样式 end*/



/*轮播点*/
.iban-pages {

  span {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    margin: 0 2px;
    vertical-align: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    opacity:1;
    &.swiper-pagination-bullet-active {
      width: 20px;
      border-radius: 5px;
      background: $ac;
    }
  }
}

/*导航*/
.tab-bar {
  font-size: 0;
  margin: 30px 0 15px;
  height: 50px;
  border-radius: 3px;
  display: table;
  width: 100%;
  a {
    font-size: 20px;
    color: #4e5a65;
    display: table-cell;
    height: 60px;
    line-height: 60px;
    width: 1%;
    text-align: center;
    margin-top: -5px;
    transition: all 0.3s;
    &.active,
    &:hover {
      background-color: $ac;
      border-radius: 3px;
      color: #fff;
      font-weight: bold;
    }
  }
}

.bar-height {
  position: relative;
  &:before {
    content: "";
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 0;
    top: 5px;
    z-index: -1;
    width: 100%;
    background: #fff;
    border-radius: 3px;
  }
 
}

/*分类管理*/
.other-condition {
  padding-top: 14px;
  a {
    background-color: #eaeced;
    border-radius: 3px;
    padding: 0 6px;
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    margin: 0 2px;
    i {
      display: inline-block;
      vertical-align: 3px;
      margin-left: 5px;
      width: 8px;
      height: 8px;
      border-left: 1px solid #707070;
      border-bottom: 1px solid #707070;
      transform: rotate(-45deg);
    }
    &.active {
      color: $ac;
      i {
        transform: rotate(135deg);
        vertical-align: -1px;
        border-color: $ac;
      }
    }
  }
}

.condsearch-box {
  line-height: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #e6e6e6;
  margin-left:10px;
  input {
    width: 120px;
    padding-left: 10px;
    background: url(~@assets/images/inicon10.png) 10px 2px no-repeat;
    background-size: 14px;
  }
  button {
    width: 40px;
    height: 24px;
    background-color: #eaeced;
    border-radius: 0px 3px 3px;
    color: #4e5a65;
  }
}
/*弹窗居中*/
.el-dialog{
  display: flex;
  flex-direction: column;
  margin:0 !important;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  max-height:calc(100% - 30px);
  max-width:calc(100% - 30px);
}
.el-dialog .el-dialog__body{
  flex:1;
  overflow: auto;
}


/*个人中心|我要采购-采购订单*/
.memcommon-title {
  padding-bottom: 13px;
  border-bottom: 1px solid #cccccc;

  .order-search {
    float: right;
    width: 220px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 3px;
    border: solid 1px #cccccc;
    position: relative;

    input {
      width: 100%;
      color: #707070;
      padding-left: 10px;
      padding-right: 35px;
      line-height: 30px;
    }

    button {
      position:absolute;
      right:0;
      top:-1px;
      width: 30px;
      height: 30px;
      overflow: hidden;
      background-color: #479e84;
      border-radius: 3px;
      color: #fff;
    }
  }
}

/*表单样式重置*/
.m-input{padding-left:0;}
.m-input input{background:none;padding:0;height:38px;line-height:38px;padding-left:10px;border-color:transparent;
@include ph(#4E5A65);
&:hover{border-color:transparent;}
}
.el-form-item__error{padding:0;transform:scale(0.8); letter-spacing:2px;left:-6px;}
.register-cell-hd .el-form-item__content{line-height:24px;}
.country-select .el-form-item__content{height:32px;
  .el-input__inner{background-color: #d8dcdf;
    background-image: linear-gradient(0deg, #d9dde0 0%, #f2f4f5 100%);
    border-radius: 3px;
    color: #4e5a65;
    font-weight: bold;
    padding: 0 10px;height:32px;height:32px;border:0;
    @include ph(#4E5A65);
  }
  .el-select .el-input .el-select__caret{
    color: #4e5a65;
  }
}