

$ac:#44A78D;
$green:#44A78D; 
$gray:#3D3938;
$bgwhite:#ffffff;

// 单行文本省略  -- 单行文本优先使用，无兼容问题；
@mixin ol() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin olh($lh) {
  height: $lh;
  line-height: $lh;
}

// 多行文本省略 -- !!! 注意： display: -webkit-box;的兼容 a，span，等行内元素，需要先 display:block/inline-block
// -- 推荐左右图文，单列，max-height只是兼容辅助
@mixin mlmax($lh, $line) {
  max-height: $lh*$line;
  line-height: $lh;
  display: -webkit-box;
  // word-break: break-all; 英文版的多行文本异常，去掉
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}

// -- 推荐等高列表使用，依靠高度实现布局的
@mixin ml($lh, $line) {
  // display:block;  // 注意：行内元素时，-webkit-box, height不生效

  display: -webkit-box;
  height: $lh*$line;
  line-height: $lh;
  // word-break: break-all; 英文版的多行文本异常，去掉
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}

@mixin mlh($lh, $line) {
  height: $lh*$line;
  line-height: $lh;
  -webkit-line-clamp: $line;
}


// placeholder 
@mixin ph($color: #999) {

  // 使用webkit内核的浏览器
  &::-webkit-input-placeholder {
      color: $color;
  }

  // Firefox版本4-18
  &:-moz-placeholder {
      color: $color;
  }

  // Firefox版本19+
  &::-moz-placeholder {
      color: $color;
  }

  // IE浏览器
  &:-ms-input-placeholder {
      color: $color;
  }
}

// scrollbar 自定义滚动条  仅仅支持 webkit
@mixin scrollbar() {

  // 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸
  &::-webkit-scrollbar {
      width: 4px;
      height: 16-8px;
      background-color: #3D3938;
  }

  // 定义滚动条轨道 内阴影+圆角
  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      background-color: #3D3938;
  }

  // 定义滑块 内阴影+圆角
  &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .1);
      background-color:$ac;
  }
}

// ###  常用的放大效果
// html: .thumb(:hover) > img
@mixin imgscale ($scale:1.03,$time:.7s) {
  overflow: hidden;
  &:hover {
      img {
          transform: scale($scale);
      }
  }
 
  img {
      transition: transform ease $time;
  }
}

// ### 数量不固定等宽 Equal width
// html: ul() > li*N

@mixin ew(){
  display: table;
  table-layout: fixed;
  .child{
      display: table-cell;
      vertical-align: middle;
      width: 1%;
  }
}






//容器边框圆角
@mixin default-radius{
    border-radius:3px;
}
